## Q1

In [2]:
import pandas as pd

In [3]:
# to get the version of pandas used
pd.__version__

'2.3.1'

In [4]:
# import the dataset 
df=pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [5]:
#let's view the first 5 rows of the dataframe
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

## Q2

In [6]:
# lets get the record count, which is the total number of rows that is present in the dataframe
df.shape

(9704, 11)

## Q3

In [7]:
# next, we'll view the number of fuel type present in the dataset
df.value_counts('fuel_type')

fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

- there're are 2 fuel type in the datasets

## Q4

In [8]:
# to get the columns of missing dataset
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

- we have 4 columns with missing datasets

In [9]:
df.isnull().any().sum()

np.int64(4)

## Q5

In [10]:
# next, we'll work on the maximum fuel efficiency of cars from Asia 
df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()

np.float64(23.759122836520497)

- the max fuel efficiency of cars from Asia is 23.75

## Q6

In [11]:
# we'll start with original median value of the horsepower
original_median = df['horsepower'].median()
print(f"Original median: {original_median}")

Original median: 149.0

In [13]:
# next, we'll calculate the most frequent value (mode) of horsepower
most_frequent = df['horsepower'].mode()[0]
print(f"Most frequent value: {most_frequent}")

Most frequent value: 152.0

In [14]:
# let's fill missing values with the most frequent value
df['horsepower'] = df['horsepower'].fillna(most_frequent)

In [15]:
# let's calculate the new median after filling missing values
new_median = df['horsepower'].median()
print(f"New median: {new_median}")

New median: 152.0

- yes, it increased.

In [16]:
# let's compare the results
print(f"Original median: {original_median}")
print(f"New median: {new_median}")

if new_median > original_median:
    print("Yes, it increased")
elif new_median < original_median:
    print("Yes, it decreased")
else:
    print("No, it stayed the same")

Original median: 149.0
New median: 152.0
Yes, it increased

## Q7

In [17]:
# we'll selct cars from Asia
asia_cars = df[df['origin'] == 'Asia']

In [18]:
# let's select only vehicle_weight and model_year columns
selected_data = asia_cars[['vehicle_weight', 'model_year']]

# let's select the first 7 values 
first_7 = selected_data.head(7)

In [19]:
# next, we'll get the underlying NumPy array X
import numpy as np

X = first_7.values
print(f"X shape: {X.shape}")

X shape: (7, 2)

In [20]:
# we'll compute matrix multiplication between transpose of X and X
XTX = X.T @ X 
print(f"XTX shape: {XTX.shape}")

XTX shape: (2, 2)

In [21]:
# let's invert XTX
XTX_inv = np.linalg.inv(XTX)

# let's create array y
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

# we'll multiply inverse of XTX with transpose of X, then multiply by y
w = XTX_inv @ X.T @ y 

# finally, we'll sum of all elements
result = w.sum()
print(f"Sum of all elements in w: {result}")

Sum of all elements in w: 0.5187709081074016